<ion-header>
</ion-header>

<ion-content>
  <body>
  <img class="wave" src="../../assets/wave.png">
	<div class="container">
		<div class="img">
			<img src="../../assets/lasChaChas.jpg">
		</div>
		<div class="login-content">
			<form action="index.html" #form="ngForm" (ngSubmit)="loginProveedor(form)">
				<img src="../../assets/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input name="email" type="text" placeholder="Email" class="input" ngModel required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<input name="pass" placeholder="Password" type="password" class="input" ngModel required>
            	   </div>
            	</div>
            	<a (click)="presentAlertPrompt()">Forgot Password?</a>
				<ion-button type="submit" class="btn" [disabled]="form.invalid">Login</ion-button>
            </form>
        </div>
    </div>
  </body>
</ion-content>
