<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cart"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre del Encargado</ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="name"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.name">
          <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">Telefono del Encargado</ion-label>
          <ion-input inputmode="tel" formControlName="phone"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.phone">
          <ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">Email del Encargado</ion-label>
          <ion-input inputmode="email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </ion-list>
      <ion-list formGroupName="description">
        <ion-list-header>
          <ion-label>Descripcion: Breve descripcion por cada producto</ion-label>
        </ion-list-header>
        <!-- <ion-item>
          <ion-label position="floating">Detalles</ion-label> 
          <ion-input autocapitalize inputmode="text" placeholder="----------" formControlName="contentDesc"></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-textarea 
            rows="6"
            wrap="off"
            formControlName="contentDesc"
            placeholder="----------------Ejemplo de Descripcion----------------
                        Ofrece 10 Kg. de Harina a 12,5 Bs. por cada Kg.
                        Ofrece 10 Kg. de Harina a 12,5 Bs. por cada Kg.
                        Ofrece 10 Kg. de Harina a 12,5 Bs. por cada Kg.
                        Ofrece 10 Kg. de Harina a 12,5 Bs. por cada Kg.
                        Ofrece 10 Kg. de Harina a 12,5 Bs. por cada Kg.">
          </ion-textarea>
        </ion-item>
        <div *ngFor="let error of errorMessages.contentDesc">
          <ng-container *ngIf="contentDesc.hasError(error.type) && (contentDesc.dirty || contentDesc.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </ion-list>
      <!--<ion-button [disabled]="!registrationForm.valid" type="submit" expand="block">Ofertar-->
      <ion-button [disabled]="!registrationForm.valid" type="submit" expand="block">Ofertar
        <ion-icon slot="end"name="create"></ion-icon>
      </ion-button>
    </form>
    <ion-list>
      <ion-item *ngFor="let item of selectedItems" lines="inset">
        <ion-thumbnail>
          <ion-img [src]="item.data.Img"></ion-img>
        </ion-thumbnail>
        <ion-label> &nbsp; {{item.data.Producto}} - Cantidad requerida: {{item.data.Stock}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>