<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COMPRAS
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <textarea>LISTA DE PEDIDOS PENDIENTES</textarea>
  <ion-list *ngIf="Tareas.length != 0">
    <div style="display: inline-block;" *ngFor="let item of Tareas">
      <ion-card class="horizontal-cards" *ngIf="item.data.estado == 'Pendiente';">
        <ion-item>
          <ion-label style="text-transform: uppercase;"><b>Estado: {{item.data.estado}}</b></ion-label>
          <ion-button (click)="update_status(item.id,'Aceptado')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="update_status(item.id,'Rechazado')">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      
        <ion-card-content>
          Decripción: {{item.data.descripcion}}
        </ion-card-content>
        <ion-card-content>
          Encargado: {{item.data.nombreEncargado}}
        </ion-card-content>
        <ion-card-content>
          Email del encargado: {{item.data.emailEncargado}}
        </ion-card-content>
        <ion-card-content>
          Telefono del encargado: {{item.data.telefonoEncargado}}
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>

  <textarea>LISTA DE PEDIDOS ACEPTADOS</textarea>
  <ion-list *ngIf="Tareas.length != 0">
    <div style="display: inline-block;" *ngFor="let item of Tareas">
      <ion-card class="horizontal-cards" *ngIf="item.data.estado == 'Aceptado';">
        <ion-item>
          <ion-label style="text-transform: uppercase;"><b>Estado: {{item.data.estado}}</b></ion-label>
          <ion-button (click)="update_status(item.id,'Finalizado')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      
        <ion-card-content>
          Decripción: {{item.data.descripcion}}
        </ion-card-content>
        <ion-card-content>
          Encargado: {{item.data.nombreEncargado}}
        </ion-card-content>
        <ion-card-content>
          Email del encargado: {{item.data.emailEncargado}}
        </ion-card-content>
        <ion-card-content>
          Telefono del encargado: {{item.data.telefonoEncargado}}
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>

  <textarea>LISTA DE PEDIDOS RECHAZADOS</textarea>
  <ion-list *ngIf="Tareas.length != 0">
    <div style="display: inline-block;" *ngFor="let item of Tareas">
      <ion-card class="horizontal-cards" *ngIf="item.data.estado == 'Rechazado';">
        <ion-item>
          <ion-label style="text-transform: uppercase;"><b>Estado: {{item.data.estado}}</b></ion-label>
        </ion-item>
      
        <ion-card-content>
          Decripción: {{item.data.descripcion}}
        </ion-card-content>
        <ion-card-content>
          Encargado: {{item.data.nombreEncargado}}
        </ion-card-content>
        <ion-card-content>
          Email del encargado: {{item.data.emailEncargado}}
        </ion-card-content>
        <ion-card-content>
          Telefono del encargado: {{item.data.telefonoEncargado}}
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>

  <textarea>LISTA DE PEDIDOS FINALIZADOS</textarea>
  <ion-list *ngIf="Tareas.length != 0">
    <div style="display: inline-block;" *ngFor="let item of Tareas">
      <ion-card class="horizontal-cards" *ngIf="item.data.estado == 'Finalizado';">
        <ion-item>
          <ion-label style="text-transform: uppercase;"><b>Estado: {{item.data.estado}}</b></ion-label>
        </ion-item>
      
        <ion-card-content>
          Decripción: {{item.data.descripcion}}
        </ion-card-content>
        <ion-card-content>
          Encargado: {{item.data.nombreEncargado}}
        </ion-card-content>
        <ion-card-content>
          Email del encargado: {{item.data.emailEncargado}}
        </ion-card-content>
        <ion-card-content>
          Telefono del encargado: {{item.data.telefonoEncargado}}
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>

  <!--
  <ion-content>
    <div class="ion-padding">
  
      <-- Theme classes dark, material, bootstrap ->
      <ngx-datatable 
        class="bootstrap"
        [limit]="8" 
        [rows]="rows" 
        [rowHeight]="50" 
        [columns]="columns"
        [columnMode]="'force'" 
        [sortType]="'multi'" 
        [headerHeight]="50" 
        [footerHeight]="50">
      </ngx-datatable>
  
    </div>
  </ion-content>
  -->

</ion-content>
